VITE_SUPABASE_URL=https://auaberxeesyploodoqdl.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImF1YWJlcnhlZXN5cGxvb2RvcWRsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgxNDQ2NTUsImV4cCI6MjA5MzcyMDY1NX0.k56_XNS3QVtDDPZczx-gvNFNkeJEH_aRO-pWpWW8aZQ
