# App Environment Variables
VITE_SUPABASE_URL=https://dyqidlgymyugprrqxvto.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImR5cWlkbGd5bXl1Z3BycnF4dnRvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgxNDgxNjcsImV4cCI6MjA5MzcyNDE2N30.T9QnV-T0eL8tMI3Lov5ho0Q0jft16YHixF5gn7zosd0
