VITE_SUPABASE_URL=https://qjxfbokurgjruvgivsph.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqeGZib2t1cmdqcnV2Z2l2c3BoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgxMDQ1NzYsImV4cCI6MjA5MzY4MDU3Nn0.19w8eqPLCwTWEeBjKT8GLoEp4pxZiayokR5UJwROpIY
